<%-include partials/header.ejs%> <%-include partials/main_nav.ejs%>
<!-- Main Nav Navigation -->

<main class="container">
  <div
    class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-dark text-center text-white"
  >
    <div class="mx-auto my-5">
      <div class="m-5">
        <h1 class="fw-normal">🤘Maxwel Nogueira Santana</h1>
        <p class="lead fw-normal">
          Java developer passionate about challenges and building software. I
          also like coffee and pokemon.
          <img
            class="about-me-icon"
            src="Assets/images/coffee.png"
            alt="Coffee image"
          />
          <img
            class="about-me-icon"
            src="Assets/images/pokeball.png"
            alt="Pokeball image"
          />
        </p>
        <a
          class="btn btn-primary"
          target="_blank"
          href="https://drive.google.com/uc?id=1Yjct8PIo8yNofoAH4uU3G-Pm2_sZsHOJ&export=download"
          ><i class="fa-solid fa-download"></i>Resume PDF</a
        >
      </div>
      <img
        src="/Assets/images/my_image.jpeg"
        class="img-fluid"
        style="width: 80%; border-radius: 21px 21px 0 0"
        alt="Maxwel Santana Photo"
      />
    </div>
  </div>
</main>

<!-- <h1><%= title %></h1> -->
<!-- <p>Welcome to <%= title %></p> -->
<%-include partials/bottom_nav.ejs%> <%-include partials/footer.ejs%>
