<%-include ../partials/header.ejs%> <%-include ../partials/main_nav.ejs%>
<!--Main Nav Navigation-->

<main class="container">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <h1><%=title %></h1>
      <%if(typeof displayName =='string'&&displayName){%>
      <a href="/BusinessContactList/add" class="btn btn-primary" role="button"
        ><i class="fas fa-plus-circle"></i>Add a Book</a
      >
      <%}%>
      <br />
      <table class="table table-bordered table-striped table-hover">
        <!--Header Row-->
        <tr>
          <%if(typeof displayName =='string'&&displayName){%>
          <th class="text-center col-1">Name</th>
          <th class="text-center col-1">Contact Number</th>
          <th class="text-center col-1">Email Address</th>

          <th class="text-center col-1"></th>
          <th class="text-center col-1"></th>
          <%}else{%>
          <th class="text-center col-1">Name</th>
          <th class="text-center col-1">Contact Number</th>
          <th class="text-center col-1">Email Address</th>
          <%}%>
        </tr>
        <%for(let count = 0; count < BusinessContactList.length; count ++){%>
        <tr>
          <%if(typeof displayName =='string'&&displayName){%>
          <td class="text-center col-2">
            <%=BusinessContactList[count].name%>
          </td>
          <td class="text-center col-2">
            <%=BusinessContactList[count].author%>
          </td>
          <td class="text-center col-1">
            <%=BusinessContactList[count].published%>
          </td>
          <td class="col-6"><%=BusinessContactList[count].description%></td>
          <td class="text-center col 1">
            <%=BusinessContactList[count].price%>
          </td>

          <td class="text-center col-1">
            <a
              href="/BusinessContactList/edit/<%=BusinessContactList[count]._id%>"
              class="btn btn-primary"
              ><i class="fas fa-pencil-alt"></i>Edit</a
            >
          </td>
          <td class="text-center col-1">
            <a
              href="/BusinessContactList/delete/<%=BusinessContactList[count]._id%>"
              class="btn btn-danger"
              ><i class="fas fa-trash-alt"></i>Delete</a
            >
          </td>
          <%}else{%>
          <td class="text-center col-2">
            <%=BusinessContactList[count].name%>
          </td>
          <td class="text-center col-2">
            <%=BusinessContactList[count].author%>
          </td>
          <td class="text-center col-1">
            <%=BusinessContactList[count].published%>
          </td>
          <td class="col-6"><%=BusinessContactList[count].description%></td>
          <td class="text-center col 1">
            <%=BusinessContactList[count].price%>
          </td>

          <%}%>
        </tr>
        <%}%>
      </table>
    </div>
  </div>
</main>

<!--<h1><%= title %></h1>-->
<!--<p>Welcome to <%= title %></p>-->
<!--Script section-->

<%-include ../partials/bottom_nav.ejs%> <%-include ../partials/footer.ejs%>
